.mainAuth {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    flex-direction: column;
}

.registerAuth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    gap: 20px;
    width: 40vw;
    flex-grow: 1;
}

.titleAuth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.titleAuth > h1 {
    font-size: 30px;
    font-weight: 300;
}

.titleSpanAuth {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    border-radius: 50px;
    padding: 12px;
}

.titleAuth > span > img {
    width: 20px;
    height: 20px;
}

.formAuth {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.inputGroupAuth {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 6px;
}

.inputGroupAuth > label {
    font-size: small;
    font-weight: 300;
}

.inputGroupAuth > input {
    width: 100%;
    padding: 15px;
}

.inputGroupAuth > input:focus {
    box-shadow: 0 0 10px var(--primary);
}

.inputSubmitAuth {
    background-color: var(--primary);
    border: 0px solid black;
    padding: 15px;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: small;
    font-weight: 400;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    transition: all 0.3s;
}

.inputSubmitAuth:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    scale: 1.02;
}

hr {
    width: 100%;
}

.loginSocialAuth {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
    transition: 0.5 all ease-in-out;
}

.loginSocialAuth > span {
    padding: 10px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    transition: all 0.3s;
    cursor: pointer;
}

.loginSocialAuth > span:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    scale: 1.05;
}

.loginSocialAuth > span > img {
    width: 24px;
    height: 24px;
}

.errorAuth {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: small;
    color: red;
    text-align: left;
}

.errorAuth img {
    width: 14px;
    height: 14px;
}

.loginErrorAuth {
    color: black;
    font-size: small;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.3);
    margin-top: 20px;
    display: none;
}

.passwordLabelsAuth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: small;
    font-weight: 300;
}

.forgotPasswordLabelAuth {
    color: var(--primary);
    font-size: 400;
}

.haveAccountAuth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.haveAccount_linkAuth {
    color: var(--primary);
}

@media (max-width: 950px) {
   .registerAuth {
        width: 100%;
   } 
}

@media (min-width: 1440px) {
    .registerAuth {
         width: 33vw;
    } 
 }