:root {
  --primary: rgba(0, 160, 228, 1);
}

.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}

body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}
