.headerHeader {
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: white;
} 

a {
    text-decoration: none;
    color: black;
}

.buttonHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 8px 15px;
    transition: all 0.3s;
    max-width: fit-content;
    cursor: pointer;
}

.buttonHeader:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    scale: 1.01;
}

.primaryHeader {
    background-color: var(--primary);
    color: white;
}

.logoutHeader {
    background-color: red;
    color: white;
}

.buttonHeader > img {
    width: 16px;
    height: 16px;
}

.buttonHeader > p {
    font-size: x-small;
    font-weight: 400;
}

.headerHeader {
    padding: 20px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.headerHeader .desktopHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.headerHeader .desktopHeader .mainHeader {
    display: flex;
    gap: 16px;
}

.headerHeader .desktopHeader .mainHeader > a {
    font-size: small;
    font-weight: 500;
}

.headerHeader .desktopHeader .elementsHeader > ul{
    list-style: none;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.headerHeader .mobileHeader {
    display: none;
}

.mobileMenuCloseHeader {
    display: none;
}

.hamburguerIconHeader {
    width: 32px;
    height: 32px;
}

.deliveryHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.2s all ease-in-out;
}

.deliveryHeader > img {
    width: 20px;
    height: 20px;
}

.deliveryHeader p {
    font-size: small;
    font-weight: 500;
}

.deliveryHeader:hover {
    transform: scale(1.02);
}

.logoHeader {
    width: 150px;
    height: 40px;
}

@media (max-width: 375px) {
    .logoHeader {
        width: 150px;
        height: 40px;
    } 
}

@media (max-width: 425px) {
    .logoHeader {
        width: 150px;
        height: 40px;
    } 
}

@media (max-width: 950px) {
    .headerHeader {
        padding: 0px;
    }

    .headerHeader .desktopHeader {
        display: none;
    }

    .headerHeader .mobileHeader {
        display: flex;
        flex-direction: column;
    }

    .headerHeader .mobileHeader .mainHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .headerHeader .mobileHeader .elementsHeader {
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        width: 100%;
    }

    .headerHeader .mobileHeader .elementsHeader > ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .headerHeader .mobileHeader .elementsHeader > ul > li {
        margin: 10px 0;
    }
}