a {
    text-decoration: none;
    color: black;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 8px 15px;
    transition: all 0.3s;
    max-width: min-content;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    scale: 1.01;
}

.primary {
    background-color: #4285F4;
    color: white;
}

.button > img {
    width: 16px;
    height: 16px;
}

.button > p {
    font-size: x-small;
    font-weight: 400;
}

.header {
    padding: 20px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.header .desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header .desktop .main {
    display: flex;
    gap: 16px;
}

.header .desktop .main > a {
    font-size: small;
    font-weight: 500;
}

.header .desktop .elements > ul{
    list-style: none;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.header .mobile {
    display: none;
}

.mobileMenuClose {
    display: none;
}

.hamburguerIcon {
    width: 32px;
    height: 32px;
}

.delivery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.2s all ease-in-out;
}

.delivery > img {
    width: 20px;
    height: 20px;
}

.delivery p {
    font-size: small;
    font-weight: 500;
}

.delivery:hover {
    transform: scale(1.02);
}

.logo {
    width: 200px;
    height: 40px;
}

@media (max-width: 950px) {
    .header {
        padding: 0px;
    }

    .header .desktop {
        display: none;
    }

    .header .mobile {
        display: flex;
        flex-direction: column;
    }

    .header .mobile .main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .header .mobile .elements {
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        width: 100%;
    }

    .header .mobile .elements > ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header .mobile .elements > ul > li {
        margin: 10px 0;
    }
}