.shoppingCart {
  margin: 20px;
}

.shoppingCartItemList,
.shoppingCartUserInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.shoppingCartUserInfo {
  margin-top: 20px;
}

.shoppingCartUserInfo > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  color: black;
  font-size: small;
  width: 100%;
  padding: 0px 20px 20px 20px;
}

.shoppingCartItemListTitle,
.shoppingCartUserInfoTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  background-color: rgb(84, 84, 233);
  padding: 10px;
  text-align: left;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.shoppingCartUserInfoTitle {
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.shoppingCartUserInfoTitle > span {
  flex-grow: 1;
}

.shoppingCartUserInfoTitle > button {
  border: none;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-decoration: underline;
}

.shoppingCartUserInfoForm {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  padding: 0px 10px 0px 10px;
  margin-bottom: 20px;
}

.shoppingCartUserInfoDisplay {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.shoppingCartUserInfoDisplay > p {
  color: black;
  font-size: small;
  font-weight: 400;
}

.shoppingCartUserInfoForm > div {
  width: 100%;
}

.shoppingCartUserInfoForm > div > input {
  width: 100%;
  padding: 10px 20px;
}

.shoppingCartUserInfoForm > div > span {
  display: block;
  width: 100%;
  padding: 10px;
  color: red;
  font-size: small;
  text-align: left;
}

.shoppingCartItemListTitle > span {
  font-size: x-small;
}

.shoppingCartItemListTitleFirst {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}

.shoppingCartItemListTitleFirst > img {
  height: 24px;
  width: 24px;
}

.shoppingCartItemListTitleFirst > h3 {
  font-weight: 500;
  font-size: medium;
}

.shoppingCartItemListCounter {
  background-color: var(--primary);
  width: 100%;
}

.shoppingCartItemListCounter > h2 {
  font-size: large;
  font-weight: 500;
  padding: 10px 0px;
}

.shoppingCartItemListDetails {
  min-height: 10vh;
  width: 100%;
}

.shoppingCartItemListButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 10px;
  color: black;
}

.shoppingCartButton,
.shoppingCartButtonActive {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;
  background-color: #ccc;
  padding: 8px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: x-small;
  font-weight: 500;
}

.shoppingCartButtonActive {
  background-color: var(--primary);
  color: white;
}

.shoppingCartButton > img,
.shoppingCartButtonActive > img {
  height: 15px;
  width: 15px;
}

.shoppingCartShipping,
.shoppingCartBilling {
  display: block;
  margin-top: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.shoppingCartShipping {
  margin: 20px 0px 30px 0px;
}

.shoppingCartShippingTitle,
.shoppingCartBillingTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #5454e9;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.shoppingCartShippingTitle > span,
.shoppingCartBillingTitle > span {
  color: white;
  width: 100%;
  padding: 10px;
  font-size: large;
}

.shoppingCartShippingTitle > button {
  border: none;
  margin: 0;
  text-decoration: none;
  background: #5454e9;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-decoration: underline;
  padding-right: 10px;
}

.shoppingCartShippingDescription,
.shoppingCartBillingDescription {
  width: 100%;
  background-color: var(--primary);
  color: white;
  padding: 10px;
  font-size: small;
}

.shoppingCartShippingMethods,
.shoppingCartBillingMethods {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 10px;
  gap: 10px;
  width: 100%;
}

.shoppingCartShippingMethodsItemActive,
.shoppingCartBillingMethodsItemActive {
  border: 1px solid #5454e9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 10px 5px;
  background-color: rgba(0, 255, 255, 0.9);
  cursor: pointer;
  width: 40%;
}

.shoppingCartBillingMethodsItem,
.shoppingCartShippingMethodsItem {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 10px 5px;
  cursor: pointer;
  width: 40%;
}

.shoppingCartShippingMethodsItem > img,
.shoppingCartBillingMethodsItem > img,
.shoppingCartShippingMethodsItemActive > img,
.shoppingCartBillingMethodsItemActive > img {
  width: 24px;
  height: 24px;
}

.shoppingCartShippingMethodsItem > span,
.shoppingCartBillingMethodsItem > span,
.shoppingCartShippingMethodsItemActive > span,
.shoppingCartBillingMethodsItemActive > span {
  font-size: x-small;
  color: #5454e9;
  font-weight: 600;
}

.noShoppingCartShipping > img {
  width: 40px;
  height: 40px;
}

.noShoppingCartShipping > span {
  color: gray;
}

.shoppingCartInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  padding: 10px 10px 20px 10px;
}

.shoppingCartInfoTitle {
  min-width: 100%;
  margin-top: 20px;
}

.shoppingCartInfoTitle > span {
  display: block;
  width: 100%;
  background-color: #5454e9;
  color: white;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 18px;
}

.shoppingCartInfoDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  width: 92%;
  margin: 20px 10px;
  padding: 0px 10px 0px 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.shoppingCartInfoDisplayFirst {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 10px 5px;
  background-color: #dfeefd;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: black;
  gap: 5px;
}

.shoppingCartInfoDisplaySecond > span {
  font-weight: 600;
}

.shoppingCartInfoSubtotal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  gap: 5px;
  width: 90%;
  color: black;
}

.shoppingCartInfoSubtotalDetails {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: small;
  color: black;
}

.shoppingCartInfoTotal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  font-size: x-large;
  font-weight: 600;
  margin-bottom: 20px;
  color: black;
}

.shoppingCartCreateOrder {
  margin-top: 30px;
  margin-bottom: 10px;
  color: white;
  background-color: rgb(106, 197, 106);
  padding: 15px 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  font-weight: 600;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.shoppingCartItemListDetails {
  padding: 20px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.shoppingCartItemListDetailsItem {
  background-color: rgb(106, 197, 106);
  width: 100%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding-left: 3px;
}

.shoppingCartItemListDetailsItemData {
  background-color: white;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: black;
  text-align: left;
  gap: 10px;
}

.shoppingCartItemListDetailsItemData > span {
  font-size: medium;
  font-weight: 600;
}

.shoppingCartItemListDetailsItemData > p {
  font-size: small;
}

.shoppingCartItemListDetailsItemDataFirst {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.shoppingCartItemListDetailsItemDataFirst > img {
  width: 30px;
  height: 30px;
}

.shoppingCartItemListDetailsItemDataFirst > p {
  font-size: 30px;
  font-weight: 600;
  color: black;
  cursor: pointer;
}

.tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}

.tags > span {
  padding: 3px;
  background-color: var(--primary);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: white;
  font-size: x-small;
  font-weight: 600;
}

.itemFiles {
  width: 100%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 10px 5px;
  cursor: pointer;
  margin-top: 5px;
}

.itemFilesTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.itemFilesTitle > img {
  width: 14px;
  height: 14px;
}

.itemFilesTitle > h3 {
  font-size: x-small;
  font-weight: 500;
}

.itemsFilesDetails {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.itemPrice {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.itemPrice > span {
  color: green;
  font-size: larger;
  font-weight: 600;
}

.itemFilesDetails > p {
  font-size: x-small;
}

.shoppingCartShippingMethodsItemActive,
.shoppingCartShippingMethodsItem {
  max-width: 350px;
}

.confirmUserDataButton,
.noItemsDescriptionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #fed78a;
  color: black;
  padding: 20px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}

.confirmUserDataButton > span,
.noItemsDescriptionButton > span {
  flex-grow: 1;
  font-weight: 550;
}

.confirmUserDataButton > img,
.noItemsDescriptionButton > img {
  width: 24px;
  height: 24px;
}

.noItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  margin: 50px 0px 100px 0px;
}

.noItemsImage {
  width: 200px;
  height: 200px;
}

.noItemsDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;

  h1 {
    font-size: 25px;
  }

  p {
    font-size: medium;
  }
}

.noItemsDescriptionButton {
  margin-top: 20px;
  width: 95%;
  max-width: 500px;
}

.shoppingCartDiscount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
  width: 100%;
  margin: 10px 0px;
  padding: 0px 16px;

  & > div {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 10px;

    & > input {
      padding: 10px 20px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      color: black;
      border-color: black;
      font-size: 12px;
      width: 100%;
    }

    & > button {
      all: unset;
      color: black;
      background-color: #fed78a;
      border-color: black;
      padding: 10px 20px;
      font-weight: 400;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      font-size: 12px;
      cursor: pointer;
    }
  }

  & > p {
    font-size: 12px;
    font-weight: 500;
    color: red;
  }
}

@media (min-width: 376px) {
  .shoppingCartItemListButtons {
    width: 100%;
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .noItemsImage {
    width: 300px;
    height: 300px;
  }

  .noItemsDescription {
    h1 {
      font-size: 35px;
    }

    p {
      font-size: large;
    }
  }

  .noItemsDescriptionButton {
    font-size: large;

    img {
      width: 30px;
      height: 30px;
    }
  }
}

@media (min-width: 831px) {
  .shoppingCart {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 30px;
    margin: 30px 0px;
    padding: 0px;
  }

  .shoppingCartLeftSide,
  .shoppingCartRightSide {
    width: 100%;
  }

  .shoppingCartLeftSide {
    margin-left: 20px;
    max-width: 600px;
  }

  .shoppingCartRightSide {
    margin-right: 20px;
    max-width: 600px;
  }

  .shoppingCartUserInfo,
  .shoppingCartShipping {
    padding: 0px;
    margin: 0px;
    width: 100%;
  }

  .shoppingCartShipping {
    margin: 30px 0px;
  }

  .shoppingCartItemList {
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  .shoppingCartShippingMethodsItemActive,
  .shoppingCartShippingMethodsItem {
    min-width: 200px;
  }
}

@media (min-width: 1024px) {
  .noItems {
    min-height: 60vh;
  }

  .noItemsDescription > h1 {
    font-size: 40px;
  }

  .noItemsDescription > p {
    font-size: 20px;
  }

  .noItemsDescriptionButton > span {
    font-size: 20px;
  }

  .noItemsDescriptionButton > img {
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 1440px) {
  .noItems {
    min-height: 70vh;
  }

  .shoppingCart {
    min-height: 80vh;
  }
}
