:root {
  --landing-color-primary: #ff00ff;
  --landing-color-secondary: #00a0e4;
}

.landing {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landingLogo,
.landingBusiness {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: black;
  color: white;
  padding: 50px 20px;
  text-align: left;
}

.landingPaperPlane,
.landingBlueprints {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: white;
  color: black;
  padding: 50px 20px;
}

.landingLogo {
  .landingLogoFirst {
    width: 100%;

    & > img {
      width: 100%;
      max-height: 600px;
      object-fit: contain;
    }
  }

  .landingLogoSecond {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    text-wrap: wrap;
    gap: 30px;
    height: 100%;

    & > div {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 30px;
      flex-grow: 1;

      & > h1 {
        font-size: 3rem;
        font-weight: 600;

        & > span {
          color: var(--landing-color-primary);
        }
      }

      & > p {
        font-size: 1.4rem;
        font-style: italic;

        & > span {
          color: var(--landing-color-secondary);
        }
      }
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background-color: var(--landing-color-primary);
      border: 0px solid black;
      padding: 15px;
      color: white;
      border-radius: 10px;
      cursor: pointer;
      font-size: 1.2rem;
      font-weight: 600;

      & > img {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.landingPaperPlane {
  .landingPaperPlaneFirst {
    width: 100%;

    & > img {
      width: 90%;
      min-height: 400px;
      max-height: 600px;
      max-width: 600px;
      object-fit: contain;
    }
  }

  .landingPaperPlaneSecond {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    text-wrap: wrap;
    gap: 30px;

    & > div {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      text-align: left;
      text-wrap: wrap;
      gap: 30px;

      & > h1 {
        font-size: 3rem;
        font-weight: 600;

        & > span {
          color: var(--landing-color-primary);
        }
      }

      & > span {
        font-size: 1.5rem;
        font-style: italic;
        color: var(--landing-color-primary);
      }

      & > p {
        font-size: 1.3rem;
        font-style: italic;
        color: black;
      }
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background-color: var(--landing-color-primary);
      border: 0px solid black;
      padding: 15px;
      color: white;
      border-radius: 10px;
      cursor: pointer;
      font-size: 1.2rem;
      font-weight: 600;

      & > img {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.landingBusiness {
  .landingBusinessGrid {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .landingBusinessGridRow {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .landingBusinessGridRowItem {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--landing-color-secondary);
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      gap: 2px;
      flex-grow: 1;

      & > h3 {
        font-size: 2rem;
      }

      & > h4 {
        font-size: 1.5rem;
      }
    }

    & > p {
      font-size: 1rem;
    }
  }

  .active {
    background-color: var(--landing-color-primary);
  }

  .landingBusinessInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
    max-width: 600px;
    text-align: left;

    & > h1 {
      font-size: 3rem;
      font-weight: 600;

      & > span {
        color: var(--landing-color-primary);
      }
    }

    & > span {
      font-size: 1.5rem;
      font-weight: 600;
    }

    & > p {
      font-size: 1.2rem;

      & > span {
        color: var(--landing-color-secondary);
      }
    }
  }

  .landingBusinessInfoForm {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    & > input {
      padding: 10px;
      border: 1px solid white;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      color: white;
      background-color: black;
      width: 100%;
    }

    & > button {
      padding: 10px 15px;
      background-color: var(--landing-color-primary);
      border: 0px solid black;
      color: white;
      border-radius: 10px;
      cursor: pointer;
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
}

.landingBlueprints {
  .landingBlueprintsFirst {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & > img {
      width: 80%;
      max-height: 500px;
      object-fit: contain;
    }
  }

  .landingBlueprintsSecond {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    & > div {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      text-align: left;
      text-wrap: wrap;
      gap: 30px;

      & > h1 {
        font-size: 3rem;
        font-weight: 600;

        & > span {
          color: var(--landing-color-secondary);
        }

        & > p {
          color: var(--landing-color-primary);
          display: inline;
        }
      }

      & > p {
        font-size: 1.5rem;

        & > span {
          color: var(--landing-color-secondary);
        }
      }
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background-color: var(--landing-color-primary);
      border: 0px solid black;
      padding: 15px;
      color: white;
      border-radius: 10px;
      cursor: pointer;
      font-size: 1.2rem;
      font-weight: 600;

      & > img {
        width: 30px;
        height: 30px;
      }
    }
  }
}

@media (min-width: 375px) {
  .landingBusinessGridRow {
    flex-direction: row !important;
  }

  .landingBusinessGridRowItem {
    div {
      h3 {
        font-size: 1.5rem !important;
      }

      h4 {
        font-size: 1rem !important;
      }
    }

    p {
      font-size: 1rem !important;
      text-wrap: balance !important;
    }
  }

  .landingBusinessInfoForm {
    flex-direction: row !important;
    justify-content: start !important;

    & > input {
      flex-grow: 1 !important;
      width: 50% !important;
    }
  }
}

@media(min-width: 425px) {
  .landingBusinessGridRowItem {
    div {
      h3 {
        font-size: 1.9rem !important;
      }

      h4 {
        font-size: 1.2rem !important;
      }
    }

    p {
      font-size: 1rem !important;
      text-wrap: balance !important;
    }
  }
}

@media(min-width: 768px) {
  .landingBusinessGridRowItem {
    height: 250px !important;
    width: 250px !important;

    div {
      h3 {
        font-size: 3rem !important;
      }

      h4 {
        font-size: 1.9rem !important;
      }
    }

    p {
      font-size: 1.2rem !important;
      text-wrap: balance !important;
    }
  }
}

@media (min-width: 1060px) {
  .landingLogo,
  .landingBusiness,
  .landingPaperPlane,
  .landingBlueprints {
    flex-direction: row !important;
    justify-content: center !important;
    min-height: 600px !important;
  }

  .landingLogoFirst {
    width: 40% !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & > img {
      max-width: 600px;
    }
  }

  .landingLogoSecond {
    align-items: start !important;
    width: 40% !important;
    padding-left: 50px;
  }

  .landingPaperPlaneFirst {
    width: 40% !important;
    display: flex;
    align-items: center !important;
    justify-content: center !important;

    & > img {
      max-width: 600px;
      min-height: 600px !important;
    }
  }

  .landingPaperPlaneSecond {
    max-width: 40% !important;
    align-items: start !important;
  }

  .landingBusinessGrid {
    width: 40% !important;
    display: flex;
    align-items: start !important;
    justify-content: center !important;
  }

  .landingBusinessGridRow {
    align-items: start !important;
    justify-content: start !important;
  }

  .landingBusinessInfo {
    width: 40% !important;
    display: flex;
    align-items: start !important;
    justify-content: start !important;
  }

  .landingBlueprintsFirst {
    width: 40% !important;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
  }

  .landingBlueprintsSecond {
    width: 40% !important;
    display: flex;
    align-items: start !important;
    justify-content: start !important;
  }
}
