.footer {
  background-color: black;
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 50px;
  padding: 25px 0px;
}

.footer-main,
.footer-secondary {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.footer-main-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-main-logo > img {
  display: block;
  width: 200px;
  padding: 0px;
}

.footer-main-logo > p {
  display: block;
  text-wrap: pretty;
}

.footer-main-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.footer-main-links-link {
  color: white;
}

.footer-main-newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  border: 1px solid white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 8px 10px;

  h2 {
    font-weight: 600;
    font-size: 1.3rem;
  }

  & > p {
    font-size: 0.8rem;
  }

  & > div {
    & > p {
      font-size: 0.6rem;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    width: 100%;
  }

  form > input[type="email"] {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 10px 20px;
    width: 90%;
    font-weight: 600;
  }

  /* Cambiar el estilo del placeholder en navegadores modernos */
  form > input[type="email"]::placeholder {
    color: white;
    font-weight: 600;
  }

  /* WebKit (Chrome, Safari, Opera) */
  form > input[type="email"]::-webkit-input-placeholder {
    color: white;
    font-weight: 600;
  }

  form > input[type="submit"] {
    background-color: var(--primary);
    color: white;
    padding: 8px 18px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid var(--primary);
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: small;
  }

  span {
    color: red;
    font-size: small;
  }
}

.footer-secondary {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.footer-secondary-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.footer-secondary-icons {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.footer-secondary-icons > img {
  width: 60px;
  height: 60px;
}

@media (min-width: 375px) {
  .footer-main-newsletter {
    form {
      flex-direction: row;

      input[type="email"] {
        flex-grow: 1;
      }
    }
  }
}

@media (max-width: 768px) {
  .footer-main-newsletter {
    p {
      text-align: left;
      text-wrap: pretty;
    }
  }
}

@media (max-width: 1110px) {
  .footer {
    padding: 20px;
  }

  .footer-main {
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 30px;
  }

  .footer-secondary {
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
  }

  .footer-main-logo {
    align-items: start;

    p {
      text-align: left;
    }
  }

  .footer-secondary-info {
    flex-direction: column;
    align-items: start;
    gap: 20px;

    div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }

  .footer-secondary-icons {
    justify-content: center !important;
  }
}